@page "/"
@inject HttpClient _HttpClient
@attribute [StreamRendering(true)]
<p>更新时间: @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</p>
@if (Ret is not null)
{
    <table class="table table-striped">
        <thead class="table-danger">
            <tr>
                <th hidden>#</th>
                <th>基金/代码</th>
                <th>T-1溢价率</th>
                <th>实时溢价率</th>
                <th>申购状态</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in (Ret.Rows?.Where(x => x.Cell.DiscountRate is not null && x.Cell.DiscountRate != "-" && x.Cell.ApplyStatus != "开放申购") ?? []).OrderByDescending(x => x.Cell.DiscountRate))
            {
                var color = row.Cell.DiscountRate?.StartsWith("-") == true ? "text-success" : "text-danger";
                <tr class="border-bottom pb-0 fs-4">
                    <td hidden>@Index</td>
                    <td>
                        <p class="m-0 p-0">@row.Cell.FundName</p>
                        <p class="m-0 p-0 text-primary fs-5">@row.Cell.FundID</p>
                    </td>
                    <td class="@color">@row.Cell.DiscountRate</td>
                    <td>@row.Cell.DiscountRate2</td>
                    <td>@row.Cell.ApplyStatus</td>
                </tr>
                Index++;
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="text-muted">数据仅供参考</td>
            </tr>
        </tfoot>
    </table>
    <div>
        <p>
            温馨提示:
            1.数据仅供参考，不构成投资建议!
            2.数据有一定的延时性，请关注更新时间!
            3.估值可能会有一定的误差，请谨慎参考!
        </p>
    </div>
}
else
{
    for (int i = 0; i < 6; i++)
    {
        string docs = (i % 6) switch { 0 => ".", 1 => "..", 2 => "...", 3 => "....", 4 => ".....", 5 => "......", _ => "" };
        <p>loading@docs</p>
    }
}
@code {
    public int Index { get; set; }
    public string? Result { get; set; }
    public QDIIModel? Ret { get; set; }
    protected override async Task OnInitializedAsync()
    {
        // return base.OnInitializedAsync();
        await Get();
    }

    private async Task Get()
    {
        this.Index = 1;
        Ret = null;
        var response = await _HttpClient.GetAsync("/api/QDII");
        Result = await response.Content.ReadAsStringAsync();
        // var obj = await response.Content.ReadFromJsonAsync<dynamic>();
        // var doc=JsonSerializer.SerializeToDocument(Result);
        // Result= JsonSerializer.Serialize(obj, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        if (response.IsSuccessStatusCode)
        {
            // var obj = JsonSerializer.Deserialize<dynamic>(Result, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
            Ret = JsonConvert.DeserializeObject<QDIIModel>(Result);
            // var obj = J
            Result = $"success";

        }
        else
        {
            Result = response.ReasonPhrase;
        }
    }
}